/* Estilo tipo Dashboard para el Sidebar */
#sidebar.active {
  width: 95px;
}

.h-18 {
  height: 18%;
}

.w-13 {
  width: 13%;
}

.w-8{
  width: 38%;
}

.mt-6 {
  margin-top: 65px;
}

.dropdown-item {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #10489c;
}

/* Oculta la flecha por defecto que tiene el dropdown en el elemento .dropdown-toggle */
.dropdown-toggle::after {
  content: none;
}