.ml-13 {
    margin-left: 13%;
} 

.w-87 {
    width: 87%;
}

.text-color {
    color: #3834ec;
  }

  .btn-hover:hover {
    background-color: #ccc;
    border-color: #ccc;
    color: #3834ec;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input {
    flex: 1;
    padding-left: 30px; /* Espacio para el ícono en el lado izquierdo */
    font-family: 'FontAwesome', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 36px;
  }
  
  .input-icon {
    position: absolute;
    left: 5px; /* Ajusta la posición del ícono a la izquierda */
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; /* Tamaño del ícono */
    color: #999; /* Color del ícono */
  }