.col-left {
  width: 62.4%;
}

.col-right {
  width: 37.6%;
}

.gradient-custom {
  background: linear-gradient(rgba(248, 247, 248, 0), rgba(39,137,199, 1)), url("../../Images/grupo-alianza.jpg");
  background-size: cover;
}

.custom-h1 {
  letter-spacing: 8px;
  font-family: Inter, sans-serif;
}

.w-90 {
  width: 90%;
}

.full-width-btn {
  width: 100%;
}
