.custom-banner {
  background-color: #ccc;
}

.company-info img {
  margin-left: 40px;
}

.company-logo {
  width: 65px;
  height: 65px;
}

.custom-span {
  letter-spacing: 5px;
  font-family: "Inter, sans-serif"; 
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-avatar:hover {
  border-style: solid;
}

.user-color {
  color: #3834ec;
}

/* Estilo personalizado para cambiar el color al hacer hover con transición suave */
.dropdown-item {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #3834ec;
  color: white;
}
